@charset "utf-8";

.wrapper{
  padding: 32px 0;
  width: 100%;
  background-color: #f2f6f7;
}
.inner{
  margin: 0 auto;
  width: 640px;
}
/* 共通 */
.row{
  margin-bottom: 20px;
}
.is-halfWidth{
  width: 50%;
}
.label-text{
  display: block;
  margin-bottom: 5px;
  font-size: 12px;
  color: #545658;
}
.input-init{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 0;
  background: transparent;
  outline: none;
  resize: none;
}
.input-area:focus {
  background-color: #fff;
  border-color: rgba(59, 133, 133, .4);
  box-shadow: 0 0 0 2px rgba(1, 191, 189, .1);
}
.input-area{
  box-sizing: border-box;
  height: 36px;
  width: 100%;
  padding: 5px;
  color: #545658;
  font-size: 13px;
  line-height: 2;
  background-color: #fbfbfb;
  border: 1px solid #d9d9d9;
  border-radius: 3px;
}
.gender-content input,.course input{
  display: none;
}
/*main-content*/
.main-content{
  box-sizing: border-box;
  margin-bottom: 32px;
  padding: 48px 64px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.18);
}
.form-title{
  text-align: center;
  margin-bottom: 24px;
  color: #545658;
  font-size: 24px;
}
.colums{
  display: flex;
  margin-bottom: 8px;
}
.is-facebook{
  color: #fff;
  background-color: #3b5999;
  border-color: #3b5999;
}
.button{
  box-sizing: border-box;
  display: inline-block;
  text-align: center;
  transition: 0.3s;
  padding: 13px;
  font-size: 13px;
  font-weight: 500;
  cursor: pointer;
  border: 1px solid #d9d9d9;
  border-radius: 3px;
}
.botton-init{
  text-decoration: none;
}
.is-fulWidth{
  width: 100%;
}
.column:last-child{
  margin-left: 8px;
}
.is-google{
  color: #dd4b39;
  background-color: #fff;
}
/*name-acount*/
.supplement-text{
  text-align: center;
}
.is-defaultText{
  color: #949697;
  font-size: 12px;
}
.name-box{
  display: flex;
}
.devider{
  position: relative;
  text-align: center;
  margin: 20px 0;
}
.devider::before{
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 1px;
  width: 100%;
  background-color: #ececec;
}
.devider p{
  display: inline-block;
  position: relative;
  padding: 0 10px;
  background-color: #fff;
}
.alert{
  color: #dd4b39;
}
.name:first-child{
  margin-left: 0;
}
.name{
  margin-left: 16px;
}
/* gender */
.gender-contents{
  display: flex;
  color: #545658;
  font-size: 16px;
}
.gender-content{
  margin-left: 15px;
  cursor: pointer;
}
.gender-content:first-child{
  margin-left: 0;
}
.gender-content span{
  position: relative;
  display: inline-block;
  padding: 3px 3px 3px 20px;
}
.gender-content span::before{
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  height: 14px;
  width: 14px;
  background-color: #fbfbfb;
  border: 1px solid #d9d9d9;
  border-radius: 50%;
}
.gender-input:checked + span::after{
  content: '';
  position: absolute;
  left: 4px;
  top: 50%;
  height: 8px;
  width: 8px;
  transform: translateY(-50%);
  border-radius: 50%;
  background-color: #01bfbd;
}
/* 出身 */
.select-area{
  position: relative;
}
.select-area::after{
  content: '';
  display: inline-block;
  position: absolute;
  right: 10px;
  top: 45%;
  transform: rotate(45deg);
  height: 5px;
  width: 5px;
  border-right: 2px solid #d9d9d9;
  border-bottom: 2px solid #d9d9d9;
}
.option{
  font-weight: normal;
  display: block;
  white-space: pre;
  min-height: 1.2em;
  padding: 0 2px 1px;
}
/* 複数チェック */
.course-option{
  margin-bottom: 10px;
  color: #545658;
  font-size: 16px;
}
.course-option-text{
  position: relative;
  padding-left: 25px;
}
.course-option-text::before{
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  height: 15px;
  width: 15px;
  margin-top: -8px;
  border: 1px solid #d9d9d9;
}
.course-option input:checked + .course-option-text::after{
  content: '';
  position: absolute;
  left: 6px;
  top: 50%;
  transform: rotate(45deg);
  height: 16px;
  width: 8px;
  margin-top: -12px;
  border-right: 3px solid #01bfbd;
  border-bottom: 3px solid #01bfbd;
}

/* 備考 */
.remarks .input-area{
  height: 100px;
}
/* 送信ボタン */
.submit-btn{
  padding: 13px;
  background-color: #01bfbd;
  color: #fff;
}
.agreement{
  font-size: 12px;
  line-height: 16px;
}
.link-color{
  color: #01a6a4;
}
/*font-part*/
.foot-part{
  text-align: center;
}
.foot-part p,.resend-mall{
  margin-bottom: 8px;
  line-height: 16px;
  font-size: 12px;
}
.resend-mall{
  display: inline-block;
}